<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>{{ page.title | default: site.title }} | {{ site.title }}</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"></link>

    <link rel="alternate" type="application/rss+xml" title="human-readable label" href="https://julianfairfax.ch/feed.xml"></link>
    <link rel="me" href="https://fosstodon.org/@julianfairfax"></link>
  </head>
  <body>
    <header class="navigation">
      <a href="/">Home</a>
      <a href="/projects">Projects</a>
      <a href="/blog.html">Blog</a>
      <a href="/reports.html">Reports</a>
      <a href="/contact.html">Contact</a>
    </header>

    <header class="page-header">
      <h1 class="project-name">{{ page.title | default: site.title }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description }}</h2>
    </header>

    <main id="content" class="main-content">
      {{ content }}
    </main>
  </body>
</html>
